@media (max-width: 767px) {
  /* NAVBAR */
  .nav-list,
  .nav-address {
    display: none;
  }

  .header-container {
    width: 100%;
  }

  /* SECOND SECTION */

  .second-section-list {
    justify-content: center;
  }

  .second-section-text-container {
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
  }

  /* THIRD SECTION */

  .third-section-list {
    justify-content: center;
  }

  /* FOURTH SECTION */

  .fourth-section-list {
    justify-content: center;
  }

  /* FOOTER SECTION */

  .footer-logo-p-container {
    flex-direction: column;
    align-items: center;
    display: flex;
  }

  .footer-text-socials-container {
    flex-direction: column;
    align-items: center;
    display: flex;
  }

  .footer-socials-container {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin: 72px 0;
  }
  .footer-form-container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .footer-form {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .footer-container {
    padding: 96px 16px;
  }

  /* HAMBURGER MENU */

  .hamburger-btn {
    display: block;
  }
}

/* MODAL SMALL */
@media (max-width: 408px) {
  .modal-window {
    width: 100%;
  }
}


/* VEGETABLES SECTİON */


/* Mobil */
@media (max-width: 767px) {
  #vegetables {
    width: 100%;
    max-width: 375px;
    background-color: var(--chianti);
  }
  .vegetables-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    max-width: 375px;
    
    min-height: 100vh;
    box-sizing: border-box;
  }
  
  .vegetables-heading-container {
    width: 335px;
    text-align: center;
  }

  .vegetables-heading-container .header2 {
    width: 335px;
    height: 104px;
  }

  .vegetables-heading-container .vegetables-heading-parag {
    width: 335px;
    height: 80px;
  }

  .vegetables-cards {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 100%;
    justify-items: center;
  }

  .vegetables-cards .vegetables-card-list {
    display: grid;
    grid-template-columns: 1fr;
    gap: 20px;
  }

  .vegetables-card-list-items {
    width: 335px;
    height: 376px;
    padding: 24px;
    width: 100%;
    box-sizing: border-box;
  }
}