:root {
  --dark: #141414;
  --white: #fbfbfb;
  --chianti: #7a3145;
  --blush: #d4bfc4;
  --green: #576f35;
  --grey: #858585;
  --transparent: #141414;
  --greenlight: #3cbc81;
  --smthwrong: #e74a3b;
}

* {
  font-family: "Inter Tight", serif;
  margin: 0;
  padding: 0;
}

a,
ul,
li {
  text-decoration: none;
}

.body1 {
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0;
}

.body2 {
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0;
}

.accent-text {
  font-weight: 600;
  font-size: 18px;
  line-height: 20px;
  letter-spacing: -0.015em;
}

.header1 {
  font-weight: 600;
  font-size: 48px;
  line-height: 48px;
  letter-spacing: -1.5%;
}

.header2 {
  font-weight: 600;
  font-size: 48px;
  line-height: 52px;
  letter-spacing: -1.5%;
}

.header3 {
  font-weight: 600;
  font-size: 28px;
  line-height: 28px;
  letter-spacing: -1.5%;
}

.button-text {
  font-weight: 600;
  font-size: 18px;
  line-height: 20px;
  letter-spacing: -1.5%;
}

@media (max-width: 375px) {
  .header1 {
    weight: semibold;
    font-size: 48px;
    line-height: 48px;
  }
  .header2 {
    weight: semibold;
    font-size: 48px;
    line-height: 52px;
  }
  .header3 {
    weight: semibold;
    font-size: 28px;
    line-height: 28px;
  }
  .body1 {
    weight: medium;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0%;
  }
  .body2 {
    weight: bold;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0%;
  }
  .accent-text {
    weight: semibold;
    font-size: 16px;
    line-height: 20px;
    letter-spacing: -1.5%;
  }
}


/* VEGETABLES CSS START */
#vegetables {
  width: 1280px;
  height: 1232px;
  background-color: var(--chianti);
  padding: 100px;
}

.vegetables-container {
  display: flex;
  flex-direction: column;
  text-align: start;
  width: 100%;
  max-width: 1080px;
  box-sizing: border-box;
  margin: auto;
  gap: 52px;
}

.vegetables-heading-container {
  width: 626px;
  height: 192px;
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.vegetables-heading-container .header2 {
  width: 335px;
  height: 104px;
}

.vegetables-heading-container .vegetables-heading-parag {
  width: 626px;
  height: 40px;
  color: var(--white);
}

.vegetables-cards {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 100%;
  height: 100vh;
}

.vegetables-cards .vegetables-card-list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 28px 24px;
  justify-content: center;
  align-items: center;
  width: 100%;
  }

.vegetables-card-list-items {
  width: 335px;
  height: 376px;
  padding: 24px;
  background-color: var(--white);
  border-radius: 40px;
  display: flex;
  flex-direction: column;
}

.header2 {
  color: var(--white);
  display: flex;
  flex-direction: column;
}

.vegetables-heading-span {
  color: var(--blush);
}

.vegetables-cards-heading + .vegetables-cards-parag {
  gap: 12px;
}

.vegetables-cards-heading and .vegetables-cards-parag {
  width: 84px;
  height: 64px;
}

.vegetables-card-list-items .vegetables-cards-heading {
  color: var(--chianti);
}

.vegetables-card-list-items .vegetables-cards-parag {
  color: var(--dark);
  font-weight: 700;
}

.vegetables-card-list-items img {
  width: 100%;
  height: auto;
}

/* Tablet */
@media (max-width: 765px) {
  #vegetables {
    padding: 100px 32px;
    height: 100vh;
    height: 1640px;
  }

  .vegetables-cards .vegetables-card-list {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 28px;
    justify-content: center;
    width: calc(65% - 24px);
  }

  .vegetables-card-list-items {
    width: 100%;
    height: 380px;
  }
}
