:root {
  --dark: #141414;
  --white: #fbfbfb;
  --chianti: #7a3145;
  --blush: #d4bfc4;
  --green: #576f35;
  --grey: #858585;
  --transparent: #141414;
  --greenlight: #3cbc81;
  --smthwrong: #e74a3b;
}

* {
  font-family: "Inter Tight", serif;
  margin: 0;
  padding: 0;
}

a,
ul,
li {
  text-decoration: none;
}

.body1 {
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0;
}

.body2 {
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0;
}

.accent-text {
  font-weight: 600;
  font-size: 18px;
  line-height: 20px;
  letter-spacing: -0.015em;
}

.header1 {
  font-weight: 600;
  font-size: 48px;
  line-height: 48px;
  letter-spacing: -1.5%;
}

.header2 {
  font-weight: 600;
  font-size: 48px;
  line-height: 52px;
  letter-spacing: -1.5%;
}

.header3 {
  font-weight: 600;
  font-size: 28px;
  line-height: 28px;
  letter-spacing: -1.5%;
}

.button-text {
  font-weight: 600;
  font-size: 18px;
  line-height: 20px;
  letter-spacing: -1.5%;
}

@media (max-width: 375px) {
  .header1 {
    font-weight: semibold;
    font-size: 48px;
    line-height: 48px;
  }
  .header2 {
    font-weight: semibold;
    font-size: 48px;
    line-height: 52px;
  }
  .header3 {
    font-weight: semibold;
    font-size: 28px;
    line-height: 28px;
  }
  .body1 {
    font-weight: medium;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0%;
  }
  .body2 {
    font-weight: bold;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0%;
  }
  .accent-text {
    font-weight: semibold;
    font-size: 16px;
    line-height: 20px;
    letter-spacing: -1.5%;
  }
}

/* how it works SECTİON START */
.main-container {
  display: flex;
  max-width: 1280px;
  background-color: #5a2a41;
  border-radius: 10px;
  overflow: hidden;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* image start */

.how-it-works-container-image {
  width: Hug (640px) px;
  height: Hug (760px) px;
  padding: 100px;
  gap: 10px;
  opacity: 0px;
  border-radius: 10px;
  background: #7a3145;
  float: left;
  flex: 1;
}
.cantainer-rectangle {
  width: 440px;
  height: 560px;
  gap: 0px;
  opacity: 0px;
  border-radius: 30px;
  background: #14141433;

  /* image finish */
  /* section list start */
}
.how-it-works-container-section-list {
  width: Hug (640px) px;
  height: Fixed (760px) px;
  top: 796px;
  left: 640px;
  padding: 100px 100px 160px 100px;
  gap: 10px;
  opacity: 0px;
  background: #576f35;
  float: left;
}
.section-container {
  width: Fixed (440px) px;
  height: Hug (560px) px;
  gap: 104px;
  opacity: 0px;
}
.container-list-title {
  width: Fixed (440px) px;
  height: Hug (180px) px;
  gap: 24px;
  opacity: 0px;
  color: #fbfbfb;
}
.VEGETABLE {
  background: #d4bfc4;
}
.EASY-STEPS {
  background: #d4bfc4;
}

.easy-steps-title-bir {
  width: 440px;
  height: 96px;
  gap: 0px;
  opacity: 0px;
  font-family: Inter Tight;
  font-size: 32px;
  font-weight: 600;
  line-height: 32px;
  letter-spacing: -0.015em;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
}
.our-baskets-paragraf-bir {
  width: 440px;
  height: 60px;
  gap: 0px;
  opacity: 0px;
  font-family: Inter Tight;
  font-size: 16px;
  font-weight: 500;
  line-height: 20px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  color: #fbfbfb;
}
.container-list-block {
  
  
}
.list-block{
    width: Fixed (440px) px;
  height: Hug (276px) px;
  gap: 24px;
  opacity: 0px;
  margin-top: 20px;
list-style-type: none;
}
.step-number {
  background-color: #5a2a41;
  color: white;
  font-weight: bold;
  padding: 10px;
  border-radius: 50%;
  width: 52px;
  height: 52px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 10px;
  gap: 0px;
  opacity: 0px;
}
.list-item-one {
    width: Fixed (440px) px;
    height: Hug (76px) px;
    padding: 12px 25px 12px 24px;
    gap: 10px;
    border-radius: 15px;
    opacity: 0px;
    background: #fbfbfb;
    align-items: center;
    margin: 10px 0;
    
  
  
}
.the-vegetable {
  font-family: Inter Tight;
  font-size: 16px;
  font-weight: 700;
  line-height: 20px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  color: #141414;

  
}
.next-to-it {
  font-family: Inter Tight;
  font-size: 16px;
  font-weight: 700;
  line-height: 20px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  color: #141414;
}
.list-item-two {
  width: Fixed (440px) px;
  height: Hug (76px) px;
  padding: 12px 25px 12px 24px;
  gap: 10px;
  border-radius: 15px;
  opacity: 0px;
  background: #fbfbfb;
  margin: 10px 0;
}
.the-basket {
  font-family: Inter Tight;
  font-size: 16px;
  font-weight: 700;
  line-height: 20px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  color: #141414;
}
.list-item-three {
  width: Fixed (440px) px;
  height: Hug (76px) px;
  padding: 12px 25px 12px 24px;
  gap: 10px;
  border-radius: 15px;
  opacity: 0px;
  background: #fbfbfb;
  margin: 10px 0;
}
.fresh-vegetables {
  font-family: Inter Tight;
  font-size: 16px;
  font-weight: 700;
  line-height: 20px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  color: #141414;
}

/* section list finish */
