/* Mobile */
@media (max-width: 767px) {
  #vegetables {
    padding: 80px 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    background-color: var(--chianti);
    width: 100%;
  }

  .vegetables-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;
  }

  .vegetables-header2 {
    color: var(--white);
    display: flex;
    flex-direction: column;
    margin-left: 50px;
  }

  .vegetables-heading-parag {
    display: flex;
    flex-direction: column;
    color: var(--white);
    text-align: left;
    position: relative;
    margin-left: 50px;
  }

  .vegetables-cards {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100%;
    margin-right: 100%;
  }

  .vegetables-cards .vegetables-card-list {
    display: grid;
    gap: 20px;
    justify-content: center;
    grid-template-columns: repeat(1, 1fr);
    width: 30%;
    height: 30%;
    margin-left: 120%;
  }

  .vegetables-card-list-items {
    border-radius: 40px;
    background-color: var(--white);
    display: flex;
    flex-direction: column;
    padding: 24px;
    box-sizing: border-box;
  }
}
